/* Reset 기본 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 글꼴 설정 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 리스트 스타일 초기화 */
ul,
ol {
  list-style: none;
}

/* 버튼 스타일 초기화 */
button {
  all: unset; /* 모든 기본 스타일 제거 */
  cursor: pointer;
}

/* 이미지 반응형 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
